<form action="/login" method="POST" class="container-sm" id="loguearse">
    <div class="mb-3 form-group">
        <h2 id="h2id">Login de prueba</h2>
    </div>
    <div class="mb-3 form-group">
        <label for="usuarioId" class="form-label" id="labelid">Usuario</label>
        <input type="text" class="form-control" id="usuarioId" name="usuario" value="" placeholder="Ingrese un nombre de usuario">
    </div>
    <div class="mb-3 form-group">
        <label for="passwordId" class="form-label" id="labelid2">Password</label>
        <input type="password" class="form-control" id="passwordId" placeholder="Contraseña">
    </div>
    <div class="mb-3 form-check">
        <input type="button" class="btn btn-primary" id= "boton_ingresar" value="Ingresar" onclick="login();">
    </div>
</form>

<label for="usuarioId" class="form-label" id="labelid">Usuarios validos: faustoide-nbasile</label>
<br>
<label for="usuarioId" class="form-label" id="labelid">Contraseñas: pepe-grego</label>
<br>
<label for="usuarioId" class="form-label" id="labelid">Aclaracion: con faustoide y nbasile el chat 1 es el que se usa para comunicarse. El chat 2 con nbasile funciona con otro usuario</label>
<br>
